.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; /* Ensures the navbar stays on top */
}

.navbar-brand {
  display: flex;
  align-items: center;
  margin-right: auto; /* Add this to push the brand to the left */
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.navbar-links-container {
  display: flex;
  justify-content: center; /* Center the links */
  flex-grow: 1; /* Take up the remaining space */
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
}

.navbar-links a:hover {
  text-decoration: underline;
  color: rgb(17, 164, 17);
}

/* Add this to push the button to the right */
.navbar-button {
  margin-left: auto;
}